<html>
<head>
    <link rel="stylesheet" href="../css/layui.css" media="all">
</head>
<style>
    .site-block{
        padding: 18px;
        border: 1px solid #eee;
        margin: 20px;
        height: 74%;
    }
</style>
<body>
<div class="site-block">
<form class="layui-form" lay-filter="editRole">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色名称</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="roleName" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色编码</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="roleCode" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input">
        </div>
    </div>
    <!--<div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">昵称</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="displayName" lay-verify="required" autocomplete="off" placeholder="请输入用户名" class="layui-input">
        </div>
    </div>-->
    <div class="layui-form-item" style="text-align: center">
        <input type="hidden" name="id"/>
        <button type="button" lay-submit="" class="layui-btn " lay-filter="sub"><i class="layui-icon layui-icon-ok"></i></button>
        <button type="button" id="close"   class="layui-btn layui-btn-primary" lay-filter="close"><i class="layui-icon layui-icon-close"></i></button>
    </div>
</form>
</div>
</body>
<script src="../layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        var $=layui.$;
        var parData=parent.layer.methodConfig.data;
        var url="/user/sysRole/insert";
        var method="POST"

        if (parData != null) {
            form.val("editRole",JSON.parse(JSON.stringify(parData)));
            url = "/user/sysRole/update";
            method = "PUT";
        }

        form.on('submit(sub)', function(data){
            $.ajax({
                url:url,
                method:method,
                data: JSON.stringify(data.field),
                dataType: "json",
                contentType:"application/json",
                success:function (res) {
                    if(res.code==0){
                        layer.msg('提交成功',{shade:0.3,time:1500});
                    }
                }

            });
            close()
            return false;//false：阻止表单跳转  true：表单跳转
        });


        $("#close").on('click',function () {
            close()
        })

        function close() {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    })
</script>
</html>

