<html>
<head>
    <link rel="stylesheet" href="../css/layui.css" media="all">
</head>
<style>
    .site-block{
        padding: 18px;
        border: 1px solid #eee;
        margin: 20px;
        height: 74%;
    }
</style>
<body>
<div class="site-block">
<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="请输入账号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">密码</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="password" lay-verify="required" autocomplete="off" placeholder="请输入密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">昵称</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="displayName" lay-verify="required" autocomplete="off" placeholder="请输入用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色</label>
        </div>
        <div class="layui-inline">
            <div id="demo2" style="width: 182px;"></div>
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center">
        <button type="button" lay-submit="" class="layui-btn " lay-filter="sub"><i class="layui-icon layui-icon-ok"></i></button>
        <button type="button" id="close"   class="layui-btn layui-btn-primary" lay-filter="close"><i class="layui-icon layui-icon-close"></i></button>
    </div>
</form>
</div>
<script src="../layui.js"></script>
<script src="../com.js"></script>
<script>
    layui.use(['form','xmSelect'], function(){
        var form = layui.form;
        var $=layui.$;
        var demo2 = xmSelect.render({
            el: '#demo2',
            name: 'sysRoleVos',
            max: 2,
            layVerify: 'required',
            paging: true,
            pageSize: 10,
            pageRemote: true,
            prop: {
                name: 'roleName',
                value: 'id',
            },
            maxMethod(seles, item){
                layer.msg('失败：最大上限为2个',{shade:0.3,time:1500});
            },
            remoteMethod: function(val, cb, show, pageIndex){
                $.ajax({
                    url:'/user/sysRole/queryAll',
                    async:false,
                    method:"post",
                    dataType: "json",
                    contentType:"application/json",
                    data:JSON.stringify({"page":pageIndex}),
                    success:function (res) {
                        if (res.code == 0) {
                            cb(res.data.list,res.data.total);
                        }

                    }});
            }
        })
        form.on('submit(sub)', function(data){
            var selectArr = demo2.getValue();
            data.field.sysRoleVos=selectArr;
            $.ajax({
                url:"/user/sysUser/insert",
                method:'post',
                data: JSON.stringify(data.field),
                dataType: "json",
                contentType:"application/json",
                success:function (res) {
                    if(res.code==0){
                        layer.msg('提交成功',{shade:0.3,time:1500});
                    }
                }

            })
            close()
            return false;//false：阻止表单跳转  true：表单跳转
        });


        $("#close").on('click',function () {
            close()
        })

        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.iframeAuto(index);
        function close() {
            parent.layer.close(index); //再执行关闭
        }
    })



</script>

    </body>