<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../css/layui.css" media="all">
        <link rel="stylesheet" href="../css/common.css" media="all">
</head>
<style>
    .site-block{
        padding: 20px;
        border: 1px solid #eee;
        margin: 20px;
    }
    .layui-form-switch{
        margin-top: 4px;
    }
</style>
<body>
<div class="site-block">
<form class="layui-form"  lay-filter="editMenu" id="editMenu">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">上级菜单</label>
        </div>
        <div class="layui-inline" style="width: 182px;">
            <div id="tree" ></div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">权限名称</label>
        </div>
        <div class="layui-inline">
            <input type="text" id="name" name="name" lay-verify="required" autocomplete="off" placeholder="请输入菜单" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">地址url</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="url"  autocomplete="off" placeholder="请输入地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">权限标识</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="code"  autocomplete="off" placeholder="请输入标识" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">权限类型</label>
        </div>
        <div class="layui-inline" >
            <input type="checkbox" name="type" lay-skin="switch" value="1" lay-text="菜单|按钮">
        </div>
    </div>
    <div class="layui-form-item" style="text-align: center">
        <input type="hidden" name="id">
        <button type="button" lay-submit="" class="layui-btn layui-btn-sm " lay-filter="sub"><i class="layui-icon layui-icon-ok"></i></button>
        <button type="button" id="close"   class="layui-btn layui-btn-sm layui-btn-primary" lay-filter="close"><i class="layui-icon layui-icon-close"></i></button>
    </div>
</form>
</div>
</body>
<script src="../layui.js"></script>
<script src="../com.js"></script>
<script>
    layui.use(['form','xmSelect'], function(){
        var form = layui.form;
        var $=layui.$;
        var parentData = parent.layer.methodConfig.data
        var result=[];
        var id;
        if(parentData==null||parentData.id==null){
              id =-1;
        }else{
            id=parentData.id;
            form.val("editMenu",JSON.parse(JSON.stringify(parentData)));
        }
        var demo1 = xmSelect.render({
            el: '#tree',
            model: { label: { type: 'text' }},
            name: 'pid',
            radio: true,
            filterable: true,
            clickClose: true,
            tree: {
                show: true,
                strict: false,
                expandedKeys: [-1],
            },
            height: 'auto',
            prop: {
                name: 'title',
                value: 'id',
                selected: 'checked',

            },
            data(){
                $.ajax({
                    url:'/user/category/queryAll?id='+id,
                    async:false,
                    success:function (res) {
                        result=res;
                    }
                });
                return result;
            }

        })


        function getDetail(){
            if(id!=null){

                $.ajax({
                    url:'/user/category/queryById?id='+id,
                    async:false,
                    method:'get',
                    success:function (res) {
                        result =  res;
                    }
                })
                return result;
            }else{
                return null;
            }
        };



        form.on('submit(sub)', function(data){
            if(data.field.type== undefined){
                //1菜单 2按钮
                data.field.type=2;
            }
            //如果是按钮,没有url
            if(data.field.type==2){
                if(data.field.code==''){
                    layer.msg("按钮必须填写标识",{anim: 6,icon: 5});
                    return;
                }
                data.field.url="";
            }else{
                if(data.field.url==''){
                    layer.msg("菜单必须填写url",{anim: 6,icon: 5});
                    return;
                }
                data.field.code="";
            }
            var pid=demo1.getValue('value')[0];
            data.field.pid=pid;
            var url="/user/category/update"
            if(id==-1){
                url="/user/category/insert"
            }
             $.ajax({
                url:url,
                method:'post',
                data: JSON.stringify(data.field),
                dataType: "json",
                contentType:"application/json",
                success:function (res) {
                    if(res.code==0){
                        layer.msg('提交成功',{shade:0.3,time:1500},function () {
                            close();
                        });
                    }
                }

            })
            return false;//false：阻止表单跳转  true：表单跳转
        });

        $("#close").on('click',function () {
            close()
        })


        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.iframeAuto(index);
        function close() {
            parent.layer.close(index); //再执行关闭
        }


        form.render();
    })
</script>
</html>