<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../css/layui.css" media="all">
</head>
<style>
    .site-block{
        padding: 20px;
        border: 1px solid #eee;
        margin: 20px;
    }
</style>
<body>
<div class="site-block">
<form class="layui-form"  lay-filter="editMenu" id="editMenu">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">上级菜单</label>
        </div>
        <div class="layui-inline" style="width: 182px;">
            <div id="tree" ></div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜单名称</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入菜单" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">地址url</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="url" lay-verify="required" autocomplete="off" placeholder="请输入地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">权限标识</label>
        </div>
        <div class="layui-inline">
            <input type="text" name="code" lay-verify="required" autocomplete="off" placeholder="请输入标识" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">权限类型</label>
        </div>
        <div class="layui-inline" style="margin-top: 0px; ">
            <input type="checkbox" name="type" lay-skin="switch" value="1" lay-text="菜单|按钮">
        </div>
    </div>
    <div class="layui-form-item" style="text-align: center">
        <input type="hidden" name="id">
        <button type="button" lay-submit="" class="layui-btn " lay-filter="sub"><i class="layui-icon layui-icon-ok"></i></button>
        <button type="button" id="close"   class="layui-btn layui-btn-primary" lay-filter="close"><i class="layui-icon layui-icon-close"></i></button>
    </div>
</form>
</div>
</body>
<script src="../layui.js"></script>
<script>
    layui.config({
        base: "/user/lay/modules/"
    }).extend({
        xmSelect: "xm-select"
    });

    layui.use(['form','xmSelect'], function(){
        var form = layui.form;
        var $=layui.$;
        var result=[];

        var  id=GetQueryString("id");

        var demo1 = xmSelect.render({
            el: '#tree',
            model: { label: { type: 'text' }},
            radio: true,
            filterable: true,
            clickClose: true,
            tree: {
                show: true,
                strict: false,
                expandedKeys: [ -1 ],
            },
            height: 'auto',
            prop: {
                name: 'title',
                value: 'id',
                selected: 'checked',

            },
            data(){
                $.ajax({
                    url:'/user/category/queryAll?id='+id,
                    async:false,
                    success:function (res) {
                        result=res;
                    }
                });
                return result;
            }

        })

        form.val("editMenu",getDetail());
        function getDetail(){
            if(id!=null){
                var result=[];
                $.ajax({
                    url:'/user/category/queryById?id='+id,
                    async:false,
                    method:'get',
                    success:function (res) {
                        result =  res;
                    }
                })
                return result;
            }else{
                return null;
            }
        };



        form.on('submit(sub)', function(data){
            if(data.field.type== undefined){
                //1菜单 2按钮
                data.field.type=2;
            }
             $.ajax({
                url:"/user/category/update",
                method:'post',
                data: JSON.stringify(data.field),
                dataType: "json",
                contentType:"application/json",
                success:function (res) {
                    if(res.code==0){
                        layer.msg('提交成功',{shade:0.3,time:1500},function () {
                            close();
                        });
                    }
                }

            })
            return false;//false：阻止表单跳转  true：表单跳转
        });

        $("#close").on('click',function () {
            close()
        })


        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.iframeAuto(index);
        function close() {
            parent.layer.close(index); //再执行关闭
        }

        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r != null){
                //解决中文乱码
                return decodeURI(r[2]);
            }
            return null;
        }
        form.render();
    })
</script>
</html>