<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>树组件</title>
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/common.css" media="all">
</head>
<style>
    .treeClass{
        margin: 20px 20px
    }
</style>
<body>
<div><i class="layui-icon layui-icon-location" style="margin: 0px 5px" ></i>
    <span class="layui-breadcrumb">
      <a href="/">首页</a>
      <a href="/user/">系统设置</a>
      <a><cite>菜单管理</cite></a>
</span>
    <fieldset class="layui-elem-field layui-field-title" >
    </fieldset>
</div>

<div class="treeClass">

    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">权限名称</label>
            </div>
            <div class="layui-inline">
                <input type="text" name="name"  autocomplete="off" placeholder="请输入权限名称" class="layui-input">
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">菜单地址</label>
            </div>
            <div class="layui-inline">
                <input type="text" name="url"  autocomplete="off" placeholder="请输入地址" class="layui-input">
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">权限标识</label>
            </div>
            <div class="layui-inline">
                <input type="text" name="code"  autocomplete="off" placeholder="请输入权限标识" class="layui-input">
            </div>
            <div class="layui-inline">
                <button type="button" lay-submit="" class="layui-btn layui-btn-sm " lay-filter="sub"><i class="layui-icon layui-icon-search"></i></button>
                <button type="reset" id ="reset" class="layui-btn layui-btn-primary layui-btn-sm" ><i class="layui-icon layui-icon-refresh-3"></i></button>
                <button type="reset" id="add" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-add-1 "></i></button>
            </div>
        </div>
    </form>
    <div class="treeLift treeBorder">
        <div class="demo-side">
            <table id="demoTb1"></table>
        </div>
   <!-- <div  id="test1"></div>-->
    </div>
   <!-- <div class="treeRight treeBorder">
        <form class="layui-form" action="" lay-filter="update">
            <div class="layui-elem-quote">
                详情编辑
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-block">
                    <select name="type" id="selectId"  lay-verify="required">
                        <option value=""></option>
                        <option value="1">菜单</option>
                        <option value="2">按钮</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-block">
                    <input type="text" id ="name" name="name" lay-verify="title" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单路径</label>
                <div class="layui-input-block">
                    <input type="text" id="url" name="url" lay-verify="title" autocomplete="off" placeholder="请输入菜单路径" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限说明</label>
                <div class="layui-input-block">
                    <input type="text" id="authName" name="authName" lay-verify="title" autocomplete="off" placeholder="请输入权限说明" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限顺序</label>
                <div class="layui-input-block">
                    <input type="text" id="sort" name="sort" lay-verify="title" autocomplete="off" placeholder="请输入权限顺序" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
            <input type="hidden" name="id" id="id">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" id="submit" class="layui-btn layui-btn-disabled" lay-submit="" lay-filter="updateMenu" disabled>更新内容</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>


    </div>-->
</div>
<!-- 表格操作列 -->
<script type="text/html" id="tbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="../layui.js"></script>
<script>

    layui.config({
        base: '../../user/lay/modules/'  // 配置模块所在的目录
    }).use(['tree', 'util','element','form','treeTable'], function(){
        var tree = layui.tree;
        var $ = layui.$;
        var util = layui.util;
        var form=layui.form;
        var treeTable = layui.treeTable;

        var insTb = treeTable.render({
            elem: '#demoTb1',
            tree: {
                iconIndex: 1,    // 折叠图标显示在第几列
                isPidData: true,  // 是否是pid形式数据
                idName: 'id',  // id字段名称
                pidName: 'pid'     // pid字段名称
            },
            cols: [[
                {type: 'numbers'},
                {field: 'name', title: '菜单名称'},
                {field: 'url', title: '地址'},
                {field: 'code', title: '权限标识'},
                {templet: '<p>{{d.type==1?"菜单":"按钮"}}</p>', title: '类型'},
                {align: 'center', toolbar: '#tbBar', title: '操作', width: 120}
            ]],
            reqData: function(data, callback) {
                $.post('/user/category/queryAllTable', function (res) {
                    if(res.code==0) callback(res.data);
                    else callback(res.msg);
                });
            }
            ,text: {
                none: '<div>哎呀，一条数据都没有~</div>'
            }
        });
        // 工具列点击事件
        treeTable.on('tool(demoTb1)', function (obj) {
            var event = obj.event;
            if (event === 'del') {
                if (obj.data.children && obj.data.children.length > 0){
                    return layer.msg('有子级不能删除');
                } else{
                    obj.del();
                    $.ajax({
                        type: 'get',
                        url: '/user/category/delete?id='+obj.data.id,
                        contentType: "application/json;charset=UTF-8",
                        success: function (res) {
                            layer.msg('删除成功');
                        }
                    });

                }

            } else if (event === 'edit') {
                 parent.layer.open({
                    title: '修改权限'
                    ,type: 2
                    ,content: '/user/sys/editMenu.html?id='+obj.data.id
                    ,area: ['500px', '450px']
                    ,end:function(){
                        insTb.reload();//弹出层结束后，刷新主页面
                    }
                });
            }
        });


        //监听提交
        form.on('submit(sub)', function(data){
            var fromData=data.field;
            insTb.reload({
                reqData: function(data, callback) {
                    $.ajax({
                        type: 'POST',
                        url: '/user/category/queryAllTable',
                        contentType: "application/json;charset=UTF-8",
                        data:  JSON.stringify(fromData),
                        success: function (res) {
                            callback(res.data);
                        }
                    });
                }
            });

            return false;
        });



        //监听提交
        form.on('submit(updateMenu)', function(data){
            var data=data.field;

            $.ajax({
                type: 'POST',
                url: '/user/category/update',
                contentType: "application/json;charset=UTF-8",
                data:  JSON.stringify(data),
                success: function () {
                    tree.reload('demoId1', {data: getData()})
                    layer.msg("保存成功",{time:2000},function () {

                    })
                }
            });

            $("#submit").attr("disabled",true);
            $("#submit").addClass('layui-btn-disabled');
            return false;
        });


        function  getData() {
            var data=[];
            $.ajax({
                url:'/user/category/queryAll',
                async:false,
                success:function (res) {
                        data=res;
                }
            });
            return data;
        }

        $("#reset").on('click',function () {
            insTb.reload({
                reqData: function(data, callback) {
                    $.post('/user/category/queryAllTable', function (res) {
                        if(res.code==0) callback(res.data);
                        else callback(res.msg);
                    });
                }
            });
        });
        $("#add").on('click',function () {
            parent.layer.open({
                title: '添加权限'
                ,type: 2
                ,content: '/user/sys/editMenu.html'
                ,area: ['500px', '450px']
                ,end:function(){
                    insTb.reload();//弹出层结束后，刷新主页面
                }
            });
        });

        //渲染
        var inst1 = tree.render({
            elem: '#test1'  //绑定元素
            ,id:'demoId1'
            ,data: getData()
            ,edit: ['add',  'del']
            ,onlyIconControl:true
            ,click: function(obj){
                var id = obj.data.id;  //获取当前点击的节点数据
                var  data =[];
                $.get('/user/category/queryById?id='+id,function(res){
                    data=res;
                    form.val("update", {
                        "id": data.id,
                        "name": data.name,
                        "url": data.url,
                        "authName": data.authName,
                        "sort": data.sort
                    });
                    $('#selectId').val(data.type);
                    $("#submit").removeClass('layui-btn-disabled');
                    $("#submit").removeAttr("disabled");
                    form.render();
                    form.render('select');
                });



            },operate: function(obj){
                var type = obj.type; //得到操作类型：add、edit、del
                var data = obj.data; //得到当前节点的数据

                var id = data.id;
                var name = data.title;
                if(type === 'add'){ //增加节点
                    $.post("/user/category/insert", {parent: id, name: "未命名"}, function () {
                        tree.reload('demoId1', {data: getData()});
                    })
                    //返回 key 值
                    return ;
                }  else if(type === 'del'){ //删除节点
                    $.get("/user/category/delete", {id: id}, function (res) {
                        if(res.code!=0){
                            layer.msg(res.message,{time:2000})
                        }
                        tree.reload('demoId1', {data: getData()});
                    });
                };
            }
        });




    });
</script>
</body>
</html>