<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>树组件</title>
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/common.css" media="all">
</head>
<style>
    .treeClass{
        margin: 20px 20px
    }
</style>
<body>
<div><i class="layui-icon layui-icon-location" style="margin: 0px 5px" ></i>
    <span class="layui-breadcrumb">
      <a href="/">首页</a>
      <a href="/user/">系统设置</a>
      <a><cite>菜单管理</cite></a>
</span>
    <fieldset class="layui-elem-field layui-field-title" >
    </fieldset>
</div>

<div class="treeClass">

    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">权限名称</label>
            </div>
            <div class="layui-inline">
                <input type="text" name="name"  autocomplete="off" placeholder="请输入权限名称" class="layui-input">
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">菜单地址</label>
            </div>
            <div class="layui-inline">
                <input type="text" name="url"  autocomplete="off" placeholder="请输入地址" class="layui-input">
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">权限标识</label>
            </div>
            <div class="layui-inline">
                <input type="text" name="code"  autocomplete="off" placeholder="请输入权限标识" class="layui-input">
            </div>
            <div class="layui-inline">
                <button type="button" lay-submit="" class="layui-btn layui-btn-sm " lay-filter="sub"><i class="layui-icon layui-icon-search"></i></button>
                <button type="reset" id ="reset" class="layui-btn layui-btn-primary layui-btn-sm" ><i class="layui-icon layui-icon-refresh-3"></i></button>
                <button type="reset" id="add" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-add-1 "></i></button>
            </div>
        </div>
    </form>
    <div class="treeLift treeBorder">
        <div class="demo-side">
            <table id="demoTb1"></table>
        </div>

    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="tbBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="../layui.js"></script>
<script src="../com.js"></script>
<script>
    layui.use(['form','treeTable','element'], function(){
        var $ = layui.$;
        var form=layui.form;
        var element = layui.element;
        var treeTable = layui.treeTable;

        var insTb = treeTable.render({
            elem: '#demoTb1',
            height: 'full-60',
            tree: {
                iconIndex: 1,    // 折叠图标显示在第几列
                isPidData: true,  // 是否是pid形式数据
                idName: 'id',  // id字段名称
                pidName: 'pid'     // pid字段名称
            },
            cols: [[
                {type: 'numbers',title: '序号', width: 100},
                {field: 'name', title: '菜单名称'},
                {field: 'url', title: '地址'},
                {field: 'code', title: '权限标识'},
                {templet: '<p>{{d.type==1?"菜单":"按钮"}}</p>', title: '类型'},
                {align: 'center', toolbar: '#tbBar', title: '操作', width: 300}
            ]],
            reqData: function(data, callback) {
                $.post('../category/queryAllTable', function (res) {
                    if(res.code==0) callback(res.data);
                    else callback(res.msg);
                });
            }
            ,text: {
                none: '<div>哎呀，一条数据都没有~</div>'
            }
        });
        // 工具列点击事件
        treeTable.on('tool(demoTb1)', function (obj) {
            var event = obj.event;
            if (event === 'del') {
                if (obj.data.children && obj.data.children.length > 0){
                    return layer.msg('有子级不能删除');
                } else{
                    obj.del();
                    $.ajax({
                        type: 'get',
                        url: '../category/delete?id='+obj.data.id,
                        contentType: "application/json;charset=UTF-8",
                        success: function (res) {
                            layer.msg('删除成功');
                        }
                    });

                }

            } else if (event === 'edit') {
                obj.data.children='';
                 parent.layer.open({
                    title: '修改权限'
                    ,type: 2
                    ,content: 'sys/addMenu.html'
                    ,area: ['500px', '450px']
                     ,data:obj.data
                    ,end:function(){
                        insTb.reload();//弹出层结束后，刷新主页面
                    }
                });
            }
        });

        $("#add").on('click',function () {
            parent.layer.open({
                title: '添加权限'
                ,type: 2
                ,content: 'sys/addMenu.html'
                ,area: ['500px', '450px']
                ,end:function(){
                    insTb.reload();//弹出层结束后，刷新主页面
                }
            });
        });

        //查询提交
        form.on('submit(sub)', function(data){
            var fromData=data.field;
            insTb.reload({
                reqData: function(data, callback) {
                    $.ajax({
                        type: 'POST',
                        url: '../category/queryAllTable',
                        contentType: "application/json;charset=UTF-8",
                        data:  JSON.stringify(fromData),
                        success: function (res) {
                            callback(res.data);
                        }
                    });
                }
            });

            return false;
        });
    });
</script>
</body>
</html>