<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>树组件</title>
    <link rel="stylesheet" href="../css/layui.css">
</head>
<style>
    .treeClass{
        margin: 20px 300px
    }
    .layui-tree-icon{
        border: 0px;
    }
    .treeLift{
        float:left;
        width:49%;
        border: 2px solid #eee;
    }
    .treeRight{
        float:right;
        width:49%;
        border: 2px solid #eee;

    }
</style>
<body>
<div><i class="layui-icon layui-icon-location" style="margin: 0px 5px" ></i>
    <span class="layui-breadcrumb">
      <a href="/">首页</a>
      <a href="/user/">系统设置</a>
      <a><cite>菜单管理</cite></a>
</span>
    <fieldset class="layui-elem-field layui-field-title" >
    </fieldset>
</div>

<div class="treeClass">
    <div class="treeRight">


    </div>
    <div class="treeLift">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-sm" lay-demo="getChecked">获取选中节点数据</button>
        <button type="button" class="layui-btn layui-btn-sm" lay-demo="setChecked">勾选指定节点</button>
        <button type="button" class="layui-btn layui-btn-sm" lay-demo="reload">重载实例</button>
    </div>
    <div  id="test1"></div>
    </div>
</div>
<script src="../layui.js"></script>
<script>
    layui.use(['tree', 'util','element'], function(){
        var tree = layui.tree;
        var $ = layui.$;
        var util = layui.util;


        function  getData() {
            var data=[];
            $.ajax({
                url:'/user/category/queryAll',
                async:false,
                success:function (res) {
                    data=res;
                }
            });
            return data;
        }

        //渲染
        var inst1 = tree.render({
            elem: '#test1'  //绑定元素
            ,id:'demoId1'
            ,data: getData()
            ,edit: ['add', 'update', 'del']
            ,click: function(obj){
                var data = obj.data;  //获取当前点击的节点数据
                layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));
            },operate: function(obj){
                var type = obj.type; //得到操作类型：add、edit、del
                var data = obj.data; //得到当前节点的数据

                var id = data.id;
                var name = data.title;
                if(type === 'add'){ //增加节点
                    $.post("/user/category/insert", {parent: id, name: "未命名"}, function (result) {
                        if (result > 0) {
                            layer.msg('添加成功',{time:1000});
                        }
                        tree.reload('demoId1', {data: getData()});
                    })
                    //返回 key 值
                    return ;
                } else if(type === 'update'){ //修改节点
                    $.ajax({
                        type: 'POST',
                        url: '/user/category/update',
                        contentType: "application/json;charset=UTF-8",
                        data:  JSON.stringify({id: id, name: name}),
                        success: function () {

                            tree.reload('demoId1', {data: getData()})
                        },

                    });
                } else if(type === 'del'){ //删除节点
                    $.get("/user/category/delete", {id: id}, function () {
                        tree.reload('demoId1', {data: getData()});
                    });
                };
            }
        });


        //按钮事件
        util.event('lay-demo', {
            getChecked: function(othis){
                var checkedData = tree.getChecked('demoId1'); //获取选中节点的数据

                layer.alert(JSON.stringify(checkedData), {shade:0});
                console.log(checkedData);
            }
            ,setChecked: function(){
                tree.setChecked('demoId1', [12, 16]); //勾选指定节点
            }
            ,reload: function(){
                //重载实例
                tree.reload('demoId1', {

                });

            }
        });


    });
</script>
</body>
</html>