<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/common.css" media="all">
</head>
<style>
    .site-block{
        padding: 20px;
        border: 1px solid #eee;
        margin: 20px;
    }
</style>
<body>
<div class="site-block"  id="menu"></div>
<form class="layui-form">
    <div class="layui-form-item" style="text-align: center">
        <button type="button" lay-submit="" class="layui-btn " lay-filter="sub"><i class="layui-icon layui-icon-ok"></i></button>
        <button type="button" id="close"   class="layui-btn layui-btn-primary" lay-filter="close"><i class="layui-icon layui-icon-close"></i></button>
    </div>
</form>
</body>
<script src="../layui.js"></script>
<script src="../com.js"></script>
<script>

    layui.use(['tree','upload'], function(){

        var tree = layui.tree;
        var $ = layui.$;
        var form = layui.form;
        var upload = layui.upload;


        form.on('submit(sub)', function(data){

            var obj = new Object();
            obj.id=parent.layer.methodConfig.data.id;
            var checkedData = tree.getChecked('menu1'); //获取选中节点的数据
            var nodeIds = new Array();
            nodeIds = getCheckedId(checkedData);
            nodeIds=nodeIds.split(","); //字符分割
            obj.menuId = nodeIds;

            $.ajax({
                url:"../sysRole/update",
                method:'put',
                data: JSON.stringify(obj),
                dataType: "json",
                contentType:"application/json",
                success:function (res) {
                    if(res.code==0){
                        layer.msg('提交成功',{shade:0.3,time:1500});
                    }
                }

            })
            close()
            return false;//false：阻止表单跳转  true：表单跳转
        });

        //渲染
        var inst1 = tree.render({
            elem: '#menu'  //绑定元素
            ,id:'menu1'
            ,data: parent.layer.methodConfig.data.treeData
            ,showCheckbox: true
        });
        tree.setChecked('menu1', parent.layer.methodConfig.data.initData); //单个勾选 id 为 1 的节点

        function getCheckedId(jsonObj) {
            var id = "";
            $.each(jsonObj, function (index, item) {
                if (id != "") {
                    id = id + "," + item.id;
                }
                else {
                    id = item.id;
                }
                var i = getCheckedId(item.children);
                if (i != "") {
                    id = id + "," + i;
                }
            });
            return id;
        }



        $("#close").on('click',function () {
            close()
        })

        function close() {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }

    });
</script>
</html>